.card
  border 1px solid var(--mediumgray)
  border-radius 0.25rem
  padding 1.5rem 1.5rem 0.75rem
  position relative

  a
    color var(--pink)

.card__heading
  font-size 1.125rem
  margin-bottom 1.5rem
  margin-top 0

.card__show-more
  color var(--pink)
  font-size 0.75rem
  font-weight bold
  margin-left 0.25rem
  text-transform uppercase

  &:hover
    cursor pointer

.card__apply
  border-top 1px solid var(--mediumgray)
  margin-top 1.5rem
  padding-top 1.5rem
  word-break break-all

  h4
    font-size 1rem
    margin-bottom 1rem
    margin-top 0

.card__info
  align-items center
  display grid
  font-size 1rem
  font-style normal
  font-weight normal
  grid-template-columns 2rem 1fr

  i
    justify-self center
