.input__container
  position relative

.input__label
  @extends $label
  margin-bottom 0.375rem

.input
  -webkit-appearance none
  appearance none
  border 1px solid var(--mediumgray)
  border-radius 0.25rem
  display block
  height 2.5rem
  padding 0.5rem 2.5rem 0.5rem 0.5rem
  width 100%

.input__icon
  border-radius 100%
  border 2px solid
  box-sizing border-box
  bottom 0.875rem
  display block
  height 1rem
  margin-left -0.25rem
  margin-top -0.25rem
  pointer-events none
  position absolute
  right 1rem
  width 1rem

  &::after
    background currentColor
    border-radius 0.25rem
    box-sizing border-box
    content ""
    display block
    height 0.5rem
    left 0.75rem
    position absolute
    top 0.625rem
    transform rotate(-45deg)
    width 2px