.popular-search
  @extends $label
  align-items center
  background-color transparent
  border 0
  color inherit
  display flex
  flex-direction column
  gap 0.25rem
  padding 0
  justify-content center
  text-align center

  > span
    font-size 2rem
    margin-bottom 0.25rem
