.search-form
  background-color var(--lightgray)

.search-form__container
  @extends $container

.search-form__grid
  display grid
  grid-template-columns repeat(4, minmax(0, 1fr))
  gap 1rem
  margin-top 1rem