:root
  --pinkfocus rgba(214, 29, 61, 0.5)
  --pink #d61d3d
  --lightgray #F5F4F5
  --mediumgray #C7C0C0
  --darkgray #312F2F
  --white #ffffff

*
  box-sizing border-box

  &:focus
    box-shadow 0 0 0 2px var(--pinkfocus)
    outline none

body
  color var(--darkgray)
  font-family "Open Sans", sans-serif
